.form-div{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.ui{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  max-width: 400px;
  /* background-color: rgb(128, 116, 164); */
  /* margin: 20px; */
}
label{
  margin-bottom: 5px;
  align-self: flex-start;
}
.error{
  color: red;
  align-self: baseline;
  margin: 5px;
}
input{
  border-radius:5px ;
  width: 260px;
  height: 20px;
}
button{
  border: none;
  padding: 10px 20px;
  background-color: aqua;
  border-radius: 40px;
  font-weight: 600;
}